.first {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    font-weight: 100;
}
.head {
    margin-bottom: 10px;
    font-weight: bold;
}
.mid {
    margin-bottom: 5px;
}
.last {
    margin-bottom: 20px;
}